.background {
  height: auto;
  max-height: 150%;
  overflow: auto;
  width: 100%;
}

.bgimg-top,
.bgimg-bottom {
  position: absolute;
}

.bgimg-top {
  bottom: 50%;
  right: 50%;
}

.bgimg-bottom {
  top: 50%;
  left: 50%;
}

@media (min-width: 1200px) {
  .background {
    width: 60%;
  }
}
