.container {
  height: calc(100vh - 52.8px);
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  position: relative;
  margin: 0.75rem;
  width: 21.875rem;
  height: 25rem;
  background: white;

  // display: flex;

  // flex-direction: column;

  // align-items: center;

  // justify-content: space-between;
  // border-radius: 1.25rem;
  // overflow: hidden;

  .box__header {
    display: flex;

    flex-direction: column;

    align-items: center;

    justify-content: space-between;
    border-radius: 1.25rem;
    overflow: hidden;
  }

  .box__image {
    background-position: center;
    position: absolute;
    overflow: hidden;
    border-radius: 3.313rem;
    border: 0.375rem solid white;
    top: 5.313rem;
    width: 6.625rem;
    height: 6.625rem;
  }

  .box__id {
    display: flex;
    margin-top: 4.688rem;

    .box__name {
      font-size: 1.125rem;
      font-weight: 700;
    }

    .box__age {
      padding-left: 0.5rem;
      font-weight: 400;
      color: hsl(227, 10%, 46%);
    }

    .box__city {
      margin-bottom: 1.875rem;
      color: hsl(227, 10%, 46%);
      font-size: 1rem;
    }
  }

  .box__footer {
    padding: 1.875rem;
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
    border-top: 0.063rem solid hsl(0, 0%, 84%);
    text-align: center;
    margin: 0;
    p {
      color: hsl(227, 10%, 46%);
      font-size: 0.75rem;
      letter-spacing: 0.125rem;
      padding-top: 0.625rem;
      margin: 0;
    }
  }
}
