.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  height: calc(100vh - 52.8px);
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  .box__header {
    position: relative;
    margin: 12px;
    width: 350px;
    height: 400px;
    background: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-radius: 20px;
    overflow: hidden;
  }

  .box__image {
    background-position: center;
    position: absolute;
    overflow: hidden;
    border-radius: 53px;
    border: 6px solid white;
    top: 85px;
    width: 106px;
    height: 106px;
  }

  .box__id {
    display: flex;
    margin-top: 75px;

    .box__name {
      font-size: 18px;
      font-weight: 700;
    }

    .box__age {
      padding-left: 8px;
      font-weight: 400;
      color: hsl(227, 10%, 46%);
    }

    .box__city {
      margin-bottom: 30px;
      color: hsl(227, 10%, 46%);
      font-size: 16px;
    }
  }

  .card-footer {
    padding: 30px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
    border-top: 1px solid hsl(0, 0%, 84%);
    text-align: center;
    margin: 0;
    p {
      color: hsl(227, 10%, 46%);
      font-size: 12px;
      letter-spacing: 2px;
      padding-top: 10px;
      margin: 0;
    }
  }
}
