*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  line-height: 1.3;
  color: $greyBlue;
  background-color: $blueGreen;
  overflow: hidden;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}
