*,
*::before,
*::after {
  // box-sizing: inherit;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
  line-height: 1.3;
  color: $greyBlue;
  background-color: $blueGreen;
  width: 100%;
  overflow: hidden;
  height: 100vh;
}

.main {
}
