.main {
  overflow: hidden;
  // position: relative;
  // justify-content: center;
  // position: absolute;
}

// .background {
//   // overflow: hidden;
// }
// .background {
// position: absolute;
// justify-content: center;
// height: 100vh;
// width: 100vw;
// overflow: hidden;
// display: grid;
// grid-template-columns: 1fr 1fr;

// display: flex;
// flex-wrap: wrap;
// justify-content: space-between;

// img {
//   overflow: hidden;
// }
// }

.box__id {
  display: flex;
  margin-top: 4.688rem;
}

// .row1 {
//   display: flex;
//   flex-direction: row;
//   flex-wrap: wrap;
//   width: 100%;
// }

// .row2 {
//   display: flex;
//   flex-direction: row;
//   flex-wrap: wrap;
//   width: 100%;
// }

// .background img {
//   // overflow: hidden;
//   // position: absolute;
// }

.background .bgimg-top,
.background .bgimg-bottom {
  position: absolute;
  animation: 2s background forwards;
  // opacity: 0;
}

.background .bgimg-top {
  top: -490px;
  left: -50px;
  transform: translate(-100px, -50px);
  // justify-self: flex-start;
  // align-self: flex-start;
}

.background .bgimg-bottom {
  bottom: -300px;
  right: -135px;
  transform: translate(100px, 50px);
  // justify-self: flex-end;
  // align-self: flex-end;
}

@keyframes background {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.attribution {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: translateY(100%);
  transition: 0.4s;
  padding: 20px;
  background: white;
  text-align: center;
}

.attribution:hover {
  transform: translateY(0);
}

.attribution:before {
  content: "";
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 100%;
  left: 0;
  z-index: 10;
}

@media (max-width: 480px) {
  .background .bgimg-top,
  .background .bgimg-bottom {
    width: 100%;
    position: absolute;
  }

  .background .bgimg-top {
    top: -15%;
    left: -50%;
  }

  .background .bgimg-bottom {
    top: 65%;
    left: 50%;
  }

  html,
  body {
    overflow-x: hidden;
  }
  body {
    position: relative;
  }

  .attribution {
    position: absolute;
    bottom: 100px;
    left: 0;
    width: 100%;
    padding: 5px;
    background: none;
    text-align: center;
  }
}
