.main {
  overflow: hidden;
}

.box__id {
  display: flex;
  margin-top: 4.688rem;
}

.background .bgimg-top,
.background .bgimg-bottom {
  position: absolute;
  animation: 2s background forwards;
}

.background .bgimg-top {
  top: -30rem;
  left: -2.5rem;
  transform: translate(-6.25rem, 3.125rem);
}

.background .bgimg-bottom {
  bottom: -29.375rem;
  right: -1.875rem;
  transform: translate(6.25rem, 3.125rem);
}

@media (max-width: 30rem) {
  .background .bgimg-top,
  .background .bgimg-bottom {
    width: 100%;
    position: absolute;
  }

  .background .bgimg-top {
    top: -15%;
    left: -50%;
  }

  .background .bgimg-bottom {
    top: 65%;
    left: 50%;
  }

  html,
  body {
    overflow-x: hidden;
  }
  body {
    position: relative;
  }
}
