img {
  width: 20%;
  height: auto;
  border-radius: 50%;
}

h1 {
  color: #584B67;
  font-size: 60px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-shadow: 2px 2px 3px #41374B;
}

h2 {
  color: #584B67;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  font-size: 30px;
}

.article {
  text-align: justify;
}

body{
  background: #D7D3D5;
  color: black;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
}

.icon-purple {
  color: #584B67;
  font-size: 30px;
}

.icon-purple:hover {
  color:#867F8C;
}

.contactButton {
  box-shadow: 2px 2px 3px #41374B;
  background-color:#584B67;
  border-radius:4px;
  border:1px solid #4e6096;
  display:inline-block;
  color:#ffffff;
  font-family:'Roboto', sans-serif;
  font-size:20px;
  font-weight:bold;
  padding:6px 12px;
  text-decoration:none;
}
.contactButton:hover {
  background-color:#867F8C;
}

.banner{
  background-color: white;
  padding: 40px;
  box-shadow: 0px 10px 30px #41374B;
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
}

.container {
  width: 900px;
  margin: 0 auto;
  padding-bottom: 20px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}
.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
  color: #584B67;
}

.card {
  background-color: white;
  padding: 40px;
  box-shadow: 0px 10px 30px #41374B;
  border-radius: 4px;
  margin: 20px 0px 20px 0px;
  text-align: center;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
